@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loader {
  max-width: 100%;
  max-height: 100%;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #6dc6e7;
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }

body, html{
  overflow-x: hidden;
  cursor:url(/Assets/Embossed.cur),auto;
}

*{
    padding: 0;
    margin: 0;
}

.Container_1{
  /* background: url(/Assets/Yash_Doshi.mp4) no-repeat center center fixed; */
  height: 300vh;
  width: 100%;
  font-family: 'Babylonica', cursive;
}

.Container_1 video{
    position: fixed;
    width: 100%;
    height: auto;
    z-index: -1;
}

.Container_1 .yash{
    position: absolute;
    color: white;
    font-size: 7rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 3px 3px 20px #000000,-2px 1px 30px #ffffff;
    transition: all 0.3s ease;
}

  

.Container_1 .yash2{
    position: absolute;
    color: white;
    font-size: 3rem;
    top: 80%;
    left: 50%;
    text-align: center;
    letter-spacing: 0.1em;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    text-shadow: 3px 3px 20px #000000,-2px 1px 30px #ffffff;
    transition: all 0.3s ease;
}


.Container_1 h3{
  word-spacing: 2rem;
  font-size: 2rem;
  color: white;
  top: 102%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px 20px #000000,-2px 1px 30px #ffffff;
}

.Container_1 .insta_pic{
  position: absolute;
  border-radius: 20px;
  height: 88vh;
  top: 120%;
  left: 3rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.Container_1 .aboutme{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 88vh;
  width: 45rem;
  padding: 1rem;
  top: 120%;
  right: 3rem;
  background: rgba(255, 255, 255, 0.164);
  border-radius: 16px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
}

.Container_1 .aboutme h1 {
  position: absolute;
  top: 2%;
  letter-spacing: 0.2rem;
  font-size: 5rem;
  color: white;
  text-shadow: 3px 3px 20px #000000,-2px 1px 30px #ffffff;
  text-align: center;
}

.Container_1 .aboutme h2 {
  font-family: 'Prata', serif;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 20px #000000,-2px 1px 30px #ffffff;
}

.Container_1 .quote{
  position: absolute;
  color: white;
  font-size: 5rem;
  top: 260%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px 20px #000000,-2px 1px 30px #ffffff;
  word-spacing: 1rem;
  letter-spacing: 0.4rem;
}

.nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 90px;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 2;
}

.nav a img{
  padding: 2rem;
  width: 2rem;
}

.Container_2{
  background-image: url(/Assets/To-bo\ List\ \(3\).png);
  background-attachment: fixed;
  background-size:cover;
  height: 300vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project_1,
.project_2,
.project_3 {
  display: flex;
  flex-direction: row;
  height: 100%; /* Set the height of each child div to 100% of the parent div */
  margin-bottom: 20px;
}

.project_1 img,
.project_2 img,
.project_3 img {
  position: relative;
  width: 700px;
  height: 350px;
  top: 25%;
  left: 13%;
  margin-right: 20px; /* Adds some space between the image and project_about */
  transition: transform 0.2s ease-in-out;
}

.project_1 img:hover,
.project_2 img:hover,
.project_3 img:hover{
  transform: scale(1.2);
} 

.project_1 .project_1_about,
.project_2 .project_2_about,
.project_3 .project_3_about {
  flex: 1; 
  color: white;
  text-align: center;
  font-family: 'Prata', serif;
  margin-top: 1rem;
  padding: 1rem;
  position: absolute;
  height: 88vh;
  width: 30rem;
  right: 3rem;
  background: rgba(255, 255, 255, 0.164);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
}

.project_1 .project_1_about a,
.project_2 .project_2_about a,
.project_3 .project_3_about a{
  color: #6dc6e7;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-size: 2rem;
  text-decoration: none;
}

.Container_3{
  position: absolute;
  background-color: #000000;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container_3 h1{
  color: white;
  font-size: 4rem;
  position: absolute;
  font-family: 'Unbounded', cursive;
  word-spacing: 2rem;
  letter-spacing: 0.5rem;
}









@media screen and (max-width: 450px) {

body, html {
  overflow-x: hidden;
}

.Container_1{
  background-color: #000000;
}

.Container_1 video{
  position: absolute;
  z-index: 99;
}

.Container_1 .yash{
    position: absolute;
    color: white;
    font-size: 3rem;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-shadow: 3px 3px 20px #000000,-2px 1px 30px #ffffff;
    transition: all 0.3s ease;
}

.Container_1 .yash2{
    position: absolute;
    color: white;
    font-size: 1rem;
    top: 80%;
    left: 40%;
    text-align: center;
    letter-spacing: 0.1em;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    text-shadow: 3px 3px 20px #000000,-2px 1px 30px #ffffff;
    transition: all 0.3s ease;
}

.Container_1 .insta_pic{
  position: absolute;
  border-radius: 20px;
  height: 0vh;
  top: 90%;
  left: 3rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.Container_1 .aboutme{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 58vh;
  width: 90%;
  padding: 1rem;
  top: 120%;
  right: 3rem;
  background: rgba(255, 255, 255, 0.164);
  border-radius: 16px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
}


.Container_1 .aboutme h1 {
  position: absolute;
  top: 2%;
  font-size: 3rem;
  color: white;
  text-shadow: 3px 3px 20px #000000,-2px 1px 30px #ffffff;
  text-align: center;
}

.Container_1 .aboutme h2 {
  font-family: 'Prata', serif;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 20px #000000,-2px 1px 30px #ffffff;
}

.Container_1 .quote{
  position: absolute;
  color: white;
  font-size: 2rem;
  top: 200%;
  left: 40%;
  text-align: center;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px 20px #000000,-2px 1px 30px #ffffff;
  word-spacing: 1rem;
  letter-spacing: 0.4rem;
}


}